@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");

.SpeechToText {
  text-align: initial;
}

.SpeechToText * {
  box-sizing: border-box;
}

.recording {
  animation: recording_pulse 2s ease-out infinite;
}

@keyframes recording_pulse {
  0% {
    background-color: #c81210;
  }
  50% {
    background-color: #960d0b;
  }
  100% {
    background-color: #c81210;
  }
}
